*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#click{
    display: none;
}
nav {
    /* height: 200px; */
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#003b95;
}
nav .upper{
    height: 100px;
    width: 80%;
    padding: 10px;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
nav .upper h1{
    font-family: cursive;
    color: whitesmoke;
}
nav .upper ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
} 
nav .upper ul li{
    list-style: none;
}
nav .upper ul li a{
    text-decoration: none;
    /* font-style: oblique; */
    color: white;
}

.flage a img{
    height: 25px;
    width: 25px;
    /* border:0.5px solid black ; */
    border-radius: 50%;
}
.question a{

    /* padding: 5px; */
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 0.5px solid whitesmoke;
    border-radius: 50%;
    font-weight: 800;
    color: whitesmoke;
}
.list a{
    font-weight: 500;
}
.button a button{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: blueviolet;
    outline: none;
    border: none;
    border-radius: 5px;
}
.button a button:hover{
    border: none;
    cursor: pointer;
    color:white;
    background-color: rgb(92, 132, 132);
}
.sign a button{
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: blueviolet;
    outline: none;
    border: none;
    border-radius: 5px;
}
.sign a button:hover{
    border: none;
    cursor: pointer;
    color:white;
    background-color: rgb(92, 132, 132);
}

nav .option{
    height: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    /* border:2px solid rgb(43, 177, 10); */
}
nav .option .soption{
    height: 50%;
    width: 90%;
    /* border: 2px solid rgb(181, 172, 172); */
    display: flex;
    /* flex-direction: column; */
    justify-content: start;
    align-items: center;
    gap: 50px;
}
nav .option .soption p{
    padding: 10px;
    display: flex;
    gap: 10px;
    color: white;
    border-radius: 20px;
    border: 0.5px solid transparent;
}
nav .option .soption p:hover{
    cursor: pointer;
    border: 0.5px solid white;
    background-color:rgba(40, 21, 59, 0.774);
}
nav .option .soption .stays{
    background-color: rgba(57, 25, 86, 0.89);
    border: 0.5px solid white;
}
nav .option .soption p span{
   font-family: cursive;
    font-weight: 100;
}
nav label{
    display: none;
}

.heading{
    height: 200px;
    background-color:#003b95 ;
    color: white;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    
}
.heading h1{
    font-size: 45px;
}
.heading p{
    font-size: 25px;
}

.options {
    position: relative;
    top: -30px;
    display: flex;
    /* gap: 20px; */
    padding-left: 80px;
}
.options select{
    height: 55px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 2px solid rgb(62, 203, 71);
}
.options button{
    /* padding: 10px; */
    padding-left: 20px;
    outline: none;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
    background-color:#003b95;
    color: white;
    border:3px solid rgb(78, 191, 60) ;
}
.options button:hover{
    background-color: #063375;
    cursor: pointer;
}




/* offer section */

.offers{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-left: 20px;
}
.offers h1{
    font-size: 30px;
    color: #063375;
}
.offers p{
    color: rgb(121, 116, 116);
}
.offers .box{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_one{
    height: 270px;
    width: 45%;
    border: 0.5px solid rgba(139, 129, 129, 0.315);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_one .paragrapgh{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.offers .box .box_one .paragrapgh h1{
    font-size: 28px;
    color: black;
}
.offers .box .box_one .paragrapgh p{
    font-size: 20px;
    color: rgb(47, 35, 35);
}
.offers .box .box_one .paragrapgh button{
    padding: 7%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}
.offers .box .box_one .paragrapgh button:hover{
    background-color: #003b95;
    cursor: pointer;
}
.offers .box .box_one .image{
    height: 80%;
    width: 45%;
}
.offers .box .box_one .image img{
    height: 100%;
    width: 100%;
}




.offers .box .box_two{
    height: 270px;
    width:45%;
    border-radius: 10px;
    border: 0.5px solid rgba(139, 129, 129, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_two .paragrapgh{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.offers .box .box_two .paragrapgh h1{
    font-size: 27px;
    color: black;
}
.offers .box .box_two .paragrapgh p{
    font-size: 16px;
    color: rgb(147, 127, 127);
}
.offers .box .box_two .paragrapgh button{
    padding: 7%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}
.offers .box .box_two .paragrapgh button:hover{
    background-color: #003b95;
    cursor: pointer;
}
.offers .box .box_two .image{
    height: 80%;
    width: 45%;
}
.offers .box .box_two .image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* offer section */


/* images section */

.Images{
    height: 1000px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.Images .Images_one{
    height: 30%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.Images .Images_one .image_inner{
    height: 100%;
    width: 90%;
    
}
.Images .Images_one .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.Images .Images_two{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Images .Images_two .image_inner{
    height: 100%;
    width: 90%;
}
.Images .Images_two .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.Images .log{
    height: 15%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    background-color: #063375;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.Images .log .log_first{
    height: 50%;
    width: 40%;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
}
.Images .log .log_first .para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Images .log .log_first .para h1{
    color: white;
}

.Images .log .log_first .para p{
    color: rgb(194, 188, 188);
}

.Images .log .log_first .icon {
    height: 100%;
    width: 40px;
    border-radius: 50%;
}
.Images .log .log_first .icon img{

    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.Images .log .log_second{
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.Images .log .log_second input{
    height: 80%;
    width: 70%;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.Images .log .log_second button{
    height: 80%;
    width: 20%;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
/* images section */

@media screen and (max-width: 768px) {


    #click{
        display: none;
    }
    nav {
        /* height: 200px; */
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#003b95;
    }
    nav .upper{
        height: 100px;
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    nav .upper h1{
        font-family: cursive;
        color: whitesmoke;
    }
    nav .upper ul{
        /* display: none; */
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        color: black;
       
    } 
    nav .upper ul li{
        display: none;
        background-color:#7e8794e6;
        top: 0px;
        width: 100%;
        height: 250px;
        /* padding: 10px; */
        position: absolute;
        list-style: none;
    }
    nav .upper ul li a{
        text-decoration: none;
        /* font-style: oblique; */
        color: rgb(44, 21, 21);
    }
    
    .flage a img{
        height: 25px;
        width: 25px;
        /* border:0.5px solid black ; */
        border-radius: 50%;
    }
    .question a{
    
        /* padding: 5px; */
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-right: 5px;
        border: 0.5px solid whitesmoke;
        border-radius: 50%;
        font-weight: 800;
        color: whitesmoke;
    }
    .list a{
        font-weight: 500;
    }
    .button a button{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        color: blueviolet;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    .button a button:hover{
        border: none;
        cursor: pointer;
        color:white;
        background-color: rgb(92, 132, 132);
    }
    .sign a button{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        color: blueviolet;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    .sign a button:hover{
        border: none;
        cursor: pointer;
        color:white;
        background-color: rgb(92, 132, 132);
    }
    
    nav .option{
        /* display: none; */
       
        
        /* height: 0px; */
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        
        /* border:2px solid rgb(43, 177, 10); */
    }
    nav .option .soption{
        /* display: none; */
        /* height: 50%;
        width: 90%; */
        /* border: 2px solid rgb(181, 172, 172); */
        display: flex;
        flex-direction: column;
        justify-content: start; 
        align-items: start; 
        gap: 20px;
      
    }
    nav .option .soption p{
        /* display: none; */
        /* padding: 10px; */
        display: flex;
        gap: 10px;
        color: white;
        /* border-radius: 20px; */
        border: 0.5px solid transparent;
        height: 400px;
        width: 100%;
    }
    nav .option .soption i{
        display: none;
    }
    nav .option .soption p:hover{
    
        cursor: pointer;
        border: 0.5px solid white;
        background-color:rgba(40, 21, 59, 0.774);
    }
    nav .option .soption .stays{
        display: none;
        background-color:#7e8794e6;
        position: absolute;
        top:200px;
        z-index: 10;
        background-color: rgba(57, 25, 86, 0.89);
        border: 0.5px solid white;
    }
    nav .option .soption p span{
        display: none;
        background-color:#7e8794e6;
        position: absolute;
        top:200px;
        z-index: 10;
       font-family: cursive;
        font-weight: 100;
    }
    nav label{
        display: block;
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    nav label:hover{   
        color: rgb(219, 218, 216);
    }
    #click:checked ~ nav .upper ul li {
        display: block;
        
    }

    .options {
        width: 100%;
        position: relative;
        top: -20px;
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        padding-left: 0px;
    }
    .options select{
        height: 55px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        border: 2px solid rgb(62, 203, 71);
    }
    .options button{
        /* padding: 10px; */
        padding-left: 20px;
        outline: none;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        font-size: 18px;
        background-color:#003b95;
        color: white;
        border:3px solid rgb(78, 191, 60) ;
    }
    .options button:hover{
        background-color: #063375;
        cursor: pointer;
    }




     /* offer section */

.offers{
    height: 800px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-left: 20px;
}
.offers h1{
    font-size: 30px;
    color: #063375;
}
.offers p{
    color: rgb(121, 116, 116);
}
.offers .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
}

.offers .box .box_one{
    height: 270px;
    width: 90%;
    border: 0.5px solid rgba(139, 129, 129, 0.315);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_one .paragrapgh{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.offers .box .box_one .paragrapgh h1{
    font-size: 28px;
    color: black;
}
.offers .box .box_one .paragrapgh p{
    font-size: 20px;
    color: rgb(47, 35, 35);
}
.offers .box .box_one .paragrapgh button{
    padding: 7%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
}
.offers .box .box_one .paragrapgh button:hover{
    background-color: #003b95;
    cursor: pointer;
}
.offers .box .box_one .image{
    height: 80%;
    width: 45%;
}
.offers .box .box_one .image img{
    height: 100%;
    width: 100%;
}




.offers .box .box_two{
    height: 270px;
    width:90%;
    border-radius: 10px;
    border: 0.5px solid rgba(139, 129, 129, 0.315);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_two .paragrapgh{
    height: 90%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.offers .box .box_two .paragrapgh h1{
    font-size: 27px;
    color: black;
}
.offers .box .box_two .paragrapgh p{
    font-size: 16px;
    color: rgb(147, 127, 127);
}
.offers .box .box_two .paragrapgh button{
    padding: 7%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 10px;
}
.offers .box .box_two .paragrapgh button:hover{
    background-color: #003b95;
    cursor: pointer;
}
.offers .box .box_two .image{
    height: 80%;
    width: 45%;
}
.offers .box .box_two .image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


/* offer section */






/* images section */

.Images{
    height: 800px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.Images .Images_one{
    height: 30%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.Images .Images_one .image_inner{
    height: 80%;
    width: 90%;
    
}
.Images .Images_one .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.Images .Images_two{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Images .Images_two .image_inner{
    height: 80%;
    width: 90%;
}
.Images .Images_two .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.Images .log{
    height: 15%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    background-color: #063375;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.Images .log .log_first{
    height: 50%;
    width: 40%;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
}
.Images .log .log_first .para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Images .log .log_first .para h1{
    font-size: 15px;
    color: white;
}

.Images .log .log_first .para p{
    color: rgb(194, 188, 188);
    font-size: 12px;
}

.Images .log .log_first .icon {
    height: 100%;
    width: 40px;
    border-radius: 50%;
}
.Images .log .log_first .icon img{

    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.Images .log .log_second{
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.Images .log .log_second input{
    height: 80%;
    width: 70%;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.Images .log .log_second button{
    height: 80%;
    width: 20%;
    font-size: 10px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}
/* images section */
    
}


@media screen and (max-width: 420px) {


    #click{
        display: none;
    }
    nav {
        /* height: 200px; */
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#003b95;
    }
    nav .upper{
        height: 100px;
        width: 100%;
        /* border: 2px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }
    nav .upper h1{
        font-family: cursive;
        color: whitesmoke;
    }
    nav .upper ul{
        /* display: none; */
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 10px;
        color: black;
       
    } 
    nav .upper ul li{
        display: none;
        background-color:#7e8794e6;
        top: 0px;
        width: 100%;
        height: 250px;
        /* padding: 10px; */
        position: absolute;
        list-style: none;
    }
    nav .upper ul li a{
        text-decoration: none;
        /* font-style: oblique; */
        color: rgb(44, 21, 21);
    }
    
    .flage a img{
        height: 25px;
        width: 25px;
        /* border:0.5px solid black ; */
        border-radius: 50%;
    }
    .question a{
    
        /* padding: 5px; */
        padding-left: 5px;
        padding-top: 3px;
        padding-bottom: 5px;
        padding-right: 5px;
        border: 0.5px solid whitesmoke;
        border-radius: 50%;
        font-weight: 800;
        color: whitesmoke;
    }
    .list a{
        font-weight: 500;
    }
    .button a button{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        color: blueviolet;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    .button a button:hover{
        border: none;
        cursor: pointer;
        color:white;
        background-color: rgb(92, 132, 132);
    }
    .sign a button{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        color: blueviolet;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    .sign a button:hover{
        border: none;
        cursor: pointer;
        color:white;
        background-color: rgb(92, 132, 132);
    }
    
    nav .option{
        /* display: none; */
       
        
        /* height: 0px; */
    
        
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        
        /* border:2px solid rgb(43, 177, 10); */
    }
    nav .option .soption{
        /* display: none; */
        /* height: 50%;
        width: 90%; */
        /* border: 2px solid rgb(181, 172, 172); */
        display: flex;
        flex-direction: column;
        justify-content: start; 
        align-items: start; 
        gap: 20px;
      
    }
    nav .option .soption p{
        /* display: none; */
        /* padding: 10px; */
        display: flex;
        gap: 10px;
        color: white;
        /* border-radius: 20px; */
        border: 0.5px solid transparent;
        height: 400px;
        width: 100%;
    }
    nav .option .soption i{
        display: none;
    }
    nav .option .soption p:hover{
    
        cursor: pointer;
        border: 0.5px solid white;
        background-color:rgba(40, 21, 59, 0.774);
    }
    nav .option .soption .stays{
        display: none;
        background-color:#7e8794e6;
        position: absolute;
        top:200px;
        z-index: 10;
        background-color: rgba(57, 25, 86, 0.89);
        border: 0.5px solid white;
    }
    nav .option .soption p span{
        display: none;
        background-color:#7e8794e6;
        position: absolute;
        top:200px;
        z-index: 10;
       font-family: cursive;
        font-weight: 100;
    }
    nav label{
        display: block;
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding: 5px;
    }
    nav label:hover{   
        color: rgb(219, 218, 216);
    }
    #click:checked ~ nav .upper ul li {
        display: block;
        
    }

    .options {
        width: 100%;
        position: relative;
        top: 0px;
        display: flex;
        flex-direction: column;
        /* gap: 20px; */
        padding-left: 0px;
    }
    .options select{
        height: 55px;
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        border: 2px solid rgb(62, 203, 71);
    }
    .options button{
        /* padding: 10px; */
        padding-left: 20px;
        outline: none;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 5px;
        font-size: 18px;
        background-color:#003b95;
        color: white;
        border:3px solid rgb(78, 191, 60) ;
    }
    .options button:hover{
        background-color: #063375;
        cursor: pointer;
    }


       /* offer section */

.offers{
    height: 800px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding-left: 20px;
}
.offers h1{
    font-size: 30px;
    color: #063375;
}
.offers p{
    color: rgb(121, 116, 116);
}
.offers .box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    gap: 20px;
}

.offers .box .box_one{
    height: 270px;
    width: 90%;
    border: 0.5px solid rgba(139, 129, 129, 0.315);
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    justify-content: space-around;
}

.offers .box .box_one .paragrapgh{
    height: 90%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.offers .box .box_one .paragrapgh h1{
    font-size: 25px;
    color: black;
}
.offers .box .box_one .paragrapgh p{
    font-size: 15px;
    color: rgb(47, 35, 35);
}
.offers .box .box_one .paragrapgh button{
    padding: 5%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
}








.offers .box .box_two .paragrapgh h1{
    font-size: 20px;
    color: black;
}
.offers .box .box_two .paragrapgh p{
    font-size: 12px;
    color: rgb(147, 127, 127);
}
.offers .box .box_two .paragrapgh button{
    padding: 5%;
    background-color: #063375;
    color: whitesmoke;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-top: 10px;
}
.offers .box .box_two .paragrapgh button:hover{
    background-color: #003b95;
    cursor: pointer;
}
.offers .box .box_two .image{
    height: 70%;
    width: 45%;
}
.offers .box .box_two .image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


/* offer section */


/* images section */



/* images section */

.Images{
    height: 600px;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

}
.Images .Images_one{
    height: 30%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.Images .Images_one .image_inner{
    height: 80%;
    width: 90%;
    
}
.Images .Images_one .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.Images .Images_two{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Images .Images_two .image_inner{
    height: 80%;
    width: 90%;
}
.Images .Images_two .image_inner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.Images .log{
    height: 15%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    background-color: #063375;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.Images .log .log_first{
    height: 50%;
    width: 40%;
    display: flex;
    gap: 20px;
    /* border: 2px solid black; */
}
.Images .log .log_first .para{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Images .log .log_first .para h1{
    font-size: 10px;
    color: white;
}

.Images .log .log_first .para p{
    color: rgb(194, 188, 188);
    font-size: 8px;
}

.Images .log .log_first .icon {
    height: 100%;
    width: 40px;
    border-radius: 50%;
}
.Images .log .log_first .icon img{

    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.Images .log .log_second{
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black; */
}
.Images .log .log_second input{
    height: 80%;
    width: 70%;
    padding-left: 5px;
    font-size: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.Images .log .log_second button{
    height: 80%;
    width: 20%;
    font-size: 7px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 10px;
}
/* images section */
 /* images section */


   
    
}